@font-face {
	font-family: 'Crimson Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Crimson Pro'), url('./CrimsonPro-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Crimson Pro';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Crimson Pro'), url('./CrimsonPro-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Crimson Pro';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Crimson Pro'), url('./CrimsonPro-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Crimson Pro';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Crimson Pro'), url('./CrimsonPro-BoldItalic.woff') format('woff');
}
