@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Crimson Pro'), url('./PoppinsLatin-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: local('Poppins'), url('./PoppinsLatin-SemiBoldItalic.woff') format('woff');
}
